.background{
    background: linear-gradient(230deg, #fff, #fa837a);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form{
    height: auto;
    width: 90%;
    min-width: 350px;
    background-color: rgb(252, 252, 252);
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 8px 55px #3a3a3a81;
    max-width: 600px;
}
.fields-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px 0;
    background-color: aqua;
}

.text-wrapper{
    width: 250px;
    height: 45px;
    background-color: #dedede;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0;
}

.text-field{
    height: 45px;
    font-size: 18px;
    letter-spacing: 1px;
    width: 250px;
    padding: 0 10px;
    border: none;   
    outline: none;
    background-color: transparent;
}

.button-container{
    width: 100%;
    margin: 15px 0px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}